  /* Import Google Font: Nunito */
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Shantell+Sans:ital,wght@0,300;0,400;1,300&display=swap');

  /* Import Google Font: Noto Sans Korean */
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Noto+Sans+KR:wght@100;300;400&family=Nunito:ital,wght@0,200;0,300;0,500;1,200;1,300&family=Shantell+Sans:ital,wght@0,300;0,400;1,300&display=swap');

  /* Style for body background */
  #form-body {
      margin-left: 20%;
      width: 700px;
      height: 1400px;
      border: #e9b986 solid;
      border-width: medium;
  }

  #form-inputs-box {
      width: 580px;
      height: 220px;
      background-color: rgba(247, 246, 246, 0.977);
      border: rgba(211, 211, 211, 0.916) solid;
      border-width: thin;
      padding: 10px;
      margin-top: 8px;
  }

  #form-inputs-box:hover {
      background-color: #f7dec3;
      border-color: #FFB798;
      border-width: thin;
  }

  #form-inputs-box label:hover {
      color: rgb(105, 105, 105);
  }

  /* Form Title */
  #dropping-donuts-title {
      text-align: center;
      margin-top: -85px;
      color: white;
      font-family: 'Nunito', sans-serif;
      font-size: 50px;
  }

  /* Style for image tag */

  #image-background {
      width: 700px;
      height: 130px;
      background-color: #e9b986;
      border-color: #e9b986;
  }

  /* Animated Donut Image Left */
  #brand-logo-1 {
      margin-top: 8px;
  }

  /* Animated Donut Image Right */
  #brand-logo-2 {
      margin-left: 85%;
      margin-top: -300px;
      margin-bottom: 30px;
  }

  .order-form-title {
      font-family: 'Nunito', sans-serif;
      margin-left: 35%;
      font-size: 25px;
      margin-top: 20px;
  }

  .requirements {
      font-family: 'Nunito', sans-serif;
      margin-left: 27%;
      margin-top: -15px;
      margin-bottom: 20px;
  }

  /* Style for the Form tag */
  form {
      margin-left: 10%;
  }

  #emailAddress {
      margin-top: 20px;
      width: 300px;
  }

  #contactNumber {
      margin-top: 20px;
  }

  #date {
      width: 110px;
      margin-top: 20px;
      margin-right: 10px;
  }

  #checkout {
      margin-top: 5px;
      width: 200px;
      height: 40px;
      text-align: center;
      border: none;
      background-color: #ea8922;
      color: white;
      font-size: 20px;
      border-radius: 10px;
  }

  #checkout:hover {
      background-color: #ea8922;
      opacity: 80%;
  }

  /* Style for labels */
  label {
      font-family: 'Nunito', sans-serif;
      font-size: 15px;
      color: black;
      padding-right: 7px;
  }

  #firstName {
      margin-right: 10px;
  }

  input {
      /* border-color: lightgray; */
      height: 30px;
      /* border-radius: 10px; */
      text-align: left;
      padding-left: 7px;
  }

  /* Style fpr the outline color of input tag when in focus */
  input:focus {
      outline-color: #FFB798;
  }

  .plain-donut {
      position: relative;
      width: 300px;
      height: 300px;
      background-color: rgba(247, 246, 246, 0.977);
      border: rgba(211, 211, 211, 0.916) solid;
      border-width: thin;
      margin-top: 15px;
  }

  .plain-donut:hover {
      background-color: #f7dec3;
      border-color: #FFB798;
      border-width: thin;
  }

  .plain-donut input[type="checkbox"] {
      position: absolute;
      top: 0;
      left: 0;
      margin: 10px;
  }

  .plain-donut img {
      margin-left: 0;
      width: 300px;
      height: 180px;
      border: none;
      border-radius: none;
  }

  .cardBody-1 {
      padding: 10px;
  }

  #plain-donut-title {
      margin-top: 0;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 700;
      margin-bottom: -6px;
  }

  #plain-donut-description {
      font-size: 14px;
      font-family: 'Lato', sans-serif;
  }

  #quantity {
      font-size: 14px;
      font-family: 'Lato', sans-serif;
  }

  .plain-donut-price {
      font-size: 14px;
      font-family: 'Lato', sans-serif;
  }

  /* Style for the Glaze Toppings: */
  #glaze-box {
      width: 350px;
      height: 100px;
      background-color: rgba(247, 246, 246, 0.977);
      margin-top: -10px;
      padding: 5px;
      margin-top: 10px;
      border: rgba(211, 211, 211, 0.916) solid;
      border-width: thin;
  }

  #glaze-box:hover {
      background-color: #f7dec3;
      border-color: #FFB798;
      border-width: thin;
  }

  #glaze-heading {
      margin-top: 5px;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 300;
  }

  #glaze-select {
      width: 300px;
      height: 30px;
  }

  select:hover {
      border-color: #FFB798;
      border-width: medium;
  }

  #glaze-donut-quantity {
      height: 30px;
  }

  /* Style for Toppings */
  #toppings-box {
      width: 550px;
      height: 130px;
      background-color: rgba(247, 246, 246, 0.977);
      padding: 5px;
      margin-top: 10px;
      border: rgba(211, 211, 211, 0.916) solid;
      border-width: thin;
  }

  #toppings-box:hover {
      background-color: #f7dec3;
      border-color: #FFB798;
      border-width: thin;
  }

  #toppings-heading {
      margin-top: 2px;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 300;
  }

  #topping-description {
      font-size: 14px;
      font-family: 'Lato', sans-serif;
      margin-top: -12px;
  }

  #row-top {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-top: -10px;
  }

  #row-top>div {
      margin-right: 10px;
  }

  #row-bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
  }

  #row-bottom>div {
      margin-right: 10px;
  }

  /* None */
  #none-box label,
  #none-box input[type="checkbox"] {
      display: inline-block;
      vertical-align: middle;
  }

  /* Sprinkles */
  #sprinkle-box label,
  #sprinkle-box input[type="checkbox"] {
      display: inline-block;
      vertical-align: middle;
  }

  #sprinkles-checkbox {
      margin-right: 10px;
  }

  #sprinkles-checkbox:checked {
      outline: none;
  }

  /* Chocolate Chips */
  #chocolate-chip-box label,
  #chocolate-chip-box input[type="checkbox"] {
      display: inline-block;
      vertical-align: middle;
  }

  /* Nuts */
  #nuts-box label,
  #nuts-box input[type="checkbox"] {
      display: inline-block;
      vertical-align: middle;
  }

  /* Icing */
  #icing-box label,
  #icing-box input[type="checkbox"] {
      display: inline-block;
      vertical-align: middle;
  }

  /* Caramel */
  #caramel-box label,
  #caramel-box input[type="checkbox"] {
      display: inline-block;
      vertical-align: middle;
  }

  /* Marshmallows */
  #marshmallow-box label,
  #marshmallow-box input[type="checkbox"] {
      display: inline-block;
      vertical-align: middle;
  }

  /* Coconut */
  #coconut-box label,
  #coconut-box input[type="checkbox"] {
      display: inline-block;
      vertical-align: middle;
  }

  /* Style for Filling Selection: */
  #filling-box {
      width: 350px;
      height: 80px;
      background-color: rgba(247, 246, 246, 0.977);
      margin-top: -10px;
      padding: 5px;
      margin-top: 10px;
      border: rgba(211, 211, 211, 0.916) solid;
      border-width: thin;
  }

  #filling-box:hover {
      background-color: #f7dec3;
      border-color: #FFB798;
      border-width: thin;
  }

  #filling-heading {
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 300;
      margin-top: 1px;
  }

  #filling-select {
      width: 300px;
      height: 30px;
  }

  /* Style for Amount of Donuts: */
  #number-of-donuts-box {
      width: 300px;
      height: 90px;
      background-color: rgba(247, 246, 246, 0.977);
      margin-top: -10px;
      padding: 5px;
      margin-top: 10px;
      border: rgba(211, 211, 211, 0.916) solid;
      border-width: thin;
  }


  #num-donuts-input:hover {
      border-color: #FFB798;
      border-width: medium;
  }

  #donut-amount-heading {
      margin-top: 1px;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 300;
  }